.loginContainer {
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginContainer h2 {
    color: wheat;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 250px;
  }
  
  .loginContainer button {
    margin-top: 20px;
    padding: 20px;
    border-radius: 40px;
    cursor: pointer;
    color: blue;
  }
  
  .loginContainer button:hover {
    background-color: wheat;
  }
  